@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro:ital@0;1&display=swap');
// *,*::after,*::before{
//     // outline: 1px solid red;
// }
body{
    font-family: "Bruno Ace SC",sans-serif;
    line-height: 1.5;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
}
// Guildline
.h1{
    font-size: 128px;
}
.h2{
    font-size: 64px;
}
.fs-1{
    font-size: 32px;
}
.fs-2{
    font-size: 24px;
}
.fs-3{
    font-size: 20px;
}
.text-primary{
    color: #00ffa3;
}
.text-right{
    display: block;
    text-align: right;
}
// 常用屬性
.d-flex{
    display: flex;
}
.p-160{
    padding: 160px 0;
}
.btn{
    padding: 12px 24px;
    border-radius: 32px;
}
.btn-light{
    background-color: #fff;
    color: black;
}
.btn-dark{
    background-color: black;
    color: white;
}
// layout
.nav{
    padding: 40px 0;
    background-color: black;
    color: #D1D1D1;
    .menu{
        justify-content: space-between;
        align-items: center;
    }
}
.intro{
    background-color: black;
    color: white;
    .d-flex{
        align-items: center;
        justify-content: space-between;
    }
    .right{
        margin-left: 24px;
        .d-flex{
            justify-content: flex-end;
        }
    }
}
.index{
    background: #ffffff;
    background-image: url(../imgs/background-img-hw2.png);
    background-size: cover;
    background-repeat: no-repeat;
    .left-text{
        .h2{
            margin-bottom: 36px;
        }
        .fs-1{
            margin-bottom: 32px;
        }
    }
    .container{
        gap: 24px;
    }
    h2,p{
        color:#ffffff;
    }
}
.about{
    background-color: #ffffff;
    h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
    .list{
        width: 50%;
        flex-wrap: wrap;
    }
    li{
        width: 40%;
        flex-direction: column;
    }
    .left,.right{
        width: 50%;
    }
}
.contact{
    background-image: linear-gradient(to bottom,#050014,#01021E);
    color: #ffffff;
    .content{
        justify-content: space-between;
    }
}
.projects{
    h2{
        text-align: right;
    }
}
footer{
    color: #ffffff;
    padding: 40px 0;
    background-color: black;
    p{
        text-align: center;
    }
}