@import "_reset.scss";
// Roboto字體
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Noto Sans Traditional Chinese
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// 環境設定
body{
    font-family:"Roboto","Noto Sans TC",serif;
    line-height: 1.5;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}


$color-white:#FBF2F2;
$color-black:#000000;
$color-red:#AA0601;
// 常用class
.d-flex{
    display: flex;
}
// .h1{
//     font-size: 64px;
//     font-weight: bold;
// }
// .h3{
//     font-size: 24px;
//     font-weight: bold;
// }
// .fz-48{
//     font-size: 48px;
// }
// .fz-36{
//     font-size: 36px;
// }
// .btn{
//     background-color: $color-red;
//     color: #ffffff;
//     padding: 6px 12px;
// }
// .btn-lg{
//     background-color: $color-red;
//     color: #ffffff;
//     padding: 6px 12px;
//     padding: 16px 176px;
//     text-align: center;
// }
// .title{
//     font-size: 48px;
//     color: $color-red;
//     text-align: center;
//     font-weight: bold;
// }


// 
.nav{
    background-color: $color-red;
    .container{
        align-items: center;
        justify-content: space-between;
    }
    .menu{
        color:white;
        font-size: 20px;
        gap: 64px;
        li{
            text-align: center;
        }
        a{
            padding: 16px;
            text-align: center;
            &:hover{
                color:rgb(74, 73, 73);
            }
        }
        
    }
    .logo{
        img{
            height: 80px;
        }
    }
}
.footer{
    background-color: $color-red;
    color:$color-white;
    padding-top: 48px;
    padding-bottom: 32px;
    .content{
        justify-content: space-between;
        border-bottom: 1px solid white;
        margin-bottom: 32px;
    }
    &-left{
        .menu{
            gap: 48px;
            margin-bottom: 24px;
        }
        .contact{
            margin-bottom: 32px;
            span{
                font-size: 36px;
            }
            li{
                align-items: center;
                gap: 22px;
            }
        }
    }
    &-right{
        .social{
            gap: 32px;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
    .copyright{
        margin-top: 32px;
        justify-content: space-between;
        .d-flex{
            gap: 48px;
        }
    }
}
@import "_rwdhw03.scss";